person-bindings/src/main/resources/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://spring-ws.com/person/schemas" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring-ws.com/person/schemas">
    <element name="PersonRequest">
    	<complexType>
    		<sequence>
    			<element name="username" type="string"></element>
    		</sequence>
    	</complexType>
    </element>

    <element name="PersonResponse">
    	<complexType>
    		<sequence>
    			<element name="username" type="string"></element>
    			<element name="password" type="string"></element>
    		</sequence>
    	</complexType>
    </element>
</schema>